body {
	padding-top: 10px
}

#map {
	position: absolute;
}

.brand {
	width: 30px;
}

.map-controls {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
}

div.olControlZoom {
	position: absolute;
	right: 8px;
	bottom: 20px;
	background: rgba(255,255,255,.4);
	border-radius: 4px;
	padding: 4px;
}

div.olControlZoom a {
	display: block;
	margin: 1px;
	padding: 0;
	color: #fff;
	font-size: 28px;
	font-family: sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
	background: #130085;
	background: rgba(0,60,136,.5);
	filter: alpha(opacity=80);
}
a.olControlZoomIn {
	border-radius: 4px 4px 0 0;
}
.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;
}
.olControlAttribution {
	left: 3px;
	bottom: 2px;
	right: auto;
}
