<div class="row">
	<div class="col-sm-4 col-md-3 col-lg-3">
		<h2 class="text-center">
			<a href="#/">
				<img src="/img/target.png" alt="" class="brand"> getLonLat
			</a>
		</h2>
		<hr>

		<fieldset>
			<legend>Values</legend>

			<div class="form-group">
				<div class="input-group input-group-sm">
					<div class="input-group-addon">Zoom</div>
					<select ng-model="zoom" ng-change="changeZoom(zoom);" class="form-control">
						<option ng-repeat="z in zooms">{{ z }}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group input-group-sm">
					<div class="input-group-addon">Latitude <b>Y</b></div>
					<input type="text" class="form-control text-right" value="{{ latitude }}">
				</div>
			</div>

			<div class="form-group">
				<div class="input-group input-group-sm">
					<div class="input-group-addon">Longitude <b>X</b></div>
					<input type="text" class="form-control text-right" value="{{ longitude }}">
				</div>
			</div>

			<div class="form-group">
				<label>Latitude / Longitude</label>
				<textarea type="text" class="form-control input-sm" rows="2">{{ latlon }}</textarea>
			</div>

			<div class="form-group">
				<label>Longitude / Latitude</label>
				<textarea type="text" class="form-control input-sm" rows="2">{{ lonlat }}</textarea>
			</div>
		</fieldset>

		<fieldset ng-show="geoip">
			<legend>
				GeoIP
				<button ng-click="closeGeoIP();" type="button" class="btn btn-link pull-right" title="Hide GeoIP information"><i class="fa fa-times"></i></button>
			</legend>

			<table class="table table-bordered table-striped table-condensed">
				<tr>
					<th><abbr title="IP Address">IP</abbr></th>
					<td>{{ geoip.ip }}</td>
				</tr>
				<tr ng-show="geoip.city">
					<th>City</th>
					<td>{{ geoip.city }}</td>
				</tr>
				<tr>
					<th>Country</th>
					<td>{{ geoip.country }} ({{ geoip.country_code}})</td>
				</tr>
				<tr>
					<th>Latitude</th>
					<td>{{ geoip.latitude }}</td>
				</tr>
				<tr>
					<th>Longitude</th>
					<td>{{ geoip.longitude }}</td>
				</tr>
				<tr>
					<th><abbr title="Internet service provider">ISP</abbr></th>
					<td>{{ geoip.isp }}</td>
				</tr>
				<tr ng-show="{{ geoip.timezone }}">
					<th>Timezone</th>
					<td>{{ geoip.timezone }}</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<legend>Settings</legend>

			<div class="form-group">
				<div class="input-group input-group-sm">
					<div class="input-group-addon">Separator</div>
					<select ng-model="separator" ng-change="updateValues();" class="form-control">
						<option value="space">Space</option>
						<option value="comma">Comma</option>
					</select>
				</div>
			</div>

			<div class="form-group" title="Map base layer">
				<div class="input-group input-group-sm">
					<div class="input-group-addon">Base Layer</div>
					<select ng-model="baselayer" ng-change="changeBaselayer(baselayer);" class="form-control">
						<option value="0">OpenStreetMap</option>
						<option value="1">Google Maps</option>
						<option value="2">Google Maps Night</option>
						<option value="3">Google Maps Hibrid</option>
					</select>
				</div>
			</div>

			<div class="form-group" title="Projection">
				<div class="input-group input-group-sm">
					<div class="input-group-addon">Output EPSG</div>
					<select ng-model="projection" ng-change="updateValues();" class="form-control">
						<option value="EPSG:4326">4326</option>
						<option value="EPSG:900913">900913</option>
						<option value="EPSG:4269">4269</option>
						<option value="EPSG:2263">2263</option>
						<option value="EPSG:26918">26918</option>
					</select>
				</div>
			</div>

			<hr>
			<p class="text-muted text-center">
				<small><b>{{ year }}</b> - getLonLat</small>
				<a href="http://github.com/hewerthomn/getlonlat" class="btn btn-xs btn-link">about</a>
			</p>
		</fieldset>
	</div><!--.col-->

	<div class="col-sm-8 col-md-9 col-lg-9">

		<div id="map" class="well well-sm" style="width: 98%; heigth: 900px;">

			<div class="map-controls text-right">

				<div class="form-group">
					<div class="input-group">
						<input ng-model="queryPlace" ng-change="searchPlace(queryPlace);" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
						   id="queryPlace" type="search" placeholder="Type to search a place" class="form-control input-sm">
						<ul class="list-group">
							<li ng-repeat="place in places" ng-click="selectPlace(place);" class="list-group-item text-left">{{ place.formatted_address }}</li>
						</ul>

						<div class="input-group-btn">
							<button type="button" ng-click="dropMarker()" class="btn btn-sm btn-primary"><i class="fa fa-map-marker fa-lg"></i> Drop marker</button>
						</div>

						<div class="input-group-btn">
							<button type="button" ng-click="getPosition()" class="btn btn-sm btn-success"><i class="fa fa-compass fa-lg"></i> Use Geolocation</button>
						</div>

						<div class="input-group-btn">
							<button type="button" ng-click="getGeoIP()" class="btn btn-sm btn-info" title="Powered by Telize"><i class="fa fa-globe fa-lg"></i> Use GeoIP</button>
						</div>
					</div>
				</div>

			</div><!--.map-controls-->
		</div><!--#map-->
	</div>
</div>
